daemon = 300 # check every 600 seconds 
syslog = yes # log update msgs to syslog 

protocol=dyndns2
use=web, web=checkip.dyndns.com, web-skip='IP Address'
server=www.ovh.com
login=admin
password=password
ssl=yes
example.com
