daemon=300
syslog=yes
pid=/var/run/ddclient/ddclient.pid
ssl=yes
use=web, web=checkip.dyndns.org/, web-skip='IP Address' # found after IP Address
protocol=dyndns2
server=www.ovh.com
login=user
password=password
ssl=yes
host.example.com

